<script lang="ts" setup>
import { ref } from "vue";
// interface Props {
//   message1: "Hey!";
// }

// const test = ref([
//   { id: 1, message: 0 },
//   { id: 2, message: 1 },
// ]);

// export interface Props {
//   msg?: string;
//   labels?: string[];
// }

// const props = withDefaults(defineProps<Props>(), {
//   msg: "hello",
//   labels: () => ["one", "two"],
// });
</script>

<template>
  <v-container grid-list-xl
    ><v-text-field name="please" label="please in put number"></v-text-field>
  </v-container>
</template>
