<script setup lang="ts">
import { ref } from "vue";
import {useCounterStore} from '@/stores/counter'

const useCounter = useCounterStore();

// const incre = ref(0);
// const decre = ref(0);
// let isShow = ref(false);

// function inc() {
//   if (incre.value === 0) {
//     isShow.value = false;
//   } else {
//     isShow.value = true;
//   }
//   incre.value = incre.value + 1;
//   decre.value = decre.value + 2;
// }

// function dec() {
//   if (incre.value === 0) {
//     isShow.value = false;
//   } else {
//     isShow.value = true;
//   }
//   incre.value = incre.value - 1;
//   decre.value = decre.value - 2;
// }
</script>
<template>
  <v-container grid-list-xl>
    <v-row>
      <v-col>
        <v-row>First Component</v-row>
        <v-row>{{ useCounter.count }}</v-row>
        <v-row
          ><v-btn color="success" @click="useCounter.increment()"
            >INCREMENT</v-btn
          ></v-row
        >
      </v-col>
      <v-col>
        <v-row>Second Component</v-row>
        <v-row >{{ useCounter.doubleCount }}</v-row>
        <v-row
          ><v-btn color="success" @click="useCounter.decrement()"
            >DECREASE</v-btn
          ></v-row
        >
      </v-col>
    </v-row>
  </v-container>
</template>
