<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-row class="elevation-5"
    ><v-col>
      <v-row>
        <v-col>
          <v-table style="max-height: 530px" class="scrollable">
            <tr
              v-for="i of products"
              :key="i.id"
              style="background-color: rgb(234, 234, 234)"
            >
              <td
                class="font-weight-bold text-subtitle-1"
                v-for="j in 3"
                :key="j"
              >
                <v-card class="ma-3" max-width="344">
                  <v-card-title
                    class="justify-center"
                    style="color: rgb(35, 59, 77)"
                  >
                    {{ i.name }}
                  </v-card-title>
                  <v-card-subtitle>
                    {{ i.price }}
                  </v-card-subtitle>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      variant="tonal"
                      color="gray"
                      class="font-weight-bold ma-1"
                    >
                      ADD
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </td>
            </tr>
          </v-table>
        </v-col>
      </v-row>
    </v-col>
    <v-col>
      <v-table fixed-header height="450" hover>
        <thead>
          <tr>
            <th class="text-center font-weight-bold text-subtitle-1">id</th>
            <th class="text-center font-weight-bold text-subtitle-1">Name</th>
            <th class="text-center font-weight-bold text-subtitle-1">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <td class="text-center">
              
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.status }}</td>
            <td class="pa-5">
              <v-btn
                class="edit-btn"
                variant="tonal"
                size="x-small"
                color="orange darken-4"
                :icon="mdiPencil"
              ></v-btn>
              <v-btn
                size="x-small"
                variant="tonal"
                color="error"
                :icon="mdiDelete"
                @click="deleteMenu(item.id)"
              ></v-btn>
            </td> -->
          </tr>
        </tbody>
      </v-table>
      <v-row><h1>SUM:{{}}</h1></v-row>
    </v-col>
  </v-row>
</template>

<style scoped>
.scrollable {
  overflow-y: scroll;
}
</style>
