<script lang="ts" setup>
import { ref } from "vue";
let def = ref("/feeling_imgs/smile.png");
let name = ref("Smile");
const isChoose = ref(true);

function changeFeels(id: number): void {
  if (id === 1) {
    def.value = "/feeling_imgs/angry.png";
    name.value = "Angry";
  } else if (id === 2) {
    def.value = "/feeling_imgs/cute.png";
    name.value = "Cute";
  } else if (id === 3) {
    def.value = "/feeling_imgs/excited.png";
    name.value = "Excited";
  } else if (id === 4) {
    def.value = "/feeling_imgs/pain.png";
    name.value = "Pain";
  } else if (id === 5) {
    def.value = "/feeling_imgs/shocked.png";
    name.value = "Shocked";
  } else if (id === 6) {
    def.value = "/feeling_imgs/smile.png";
    name.value = "Smile";
  }
  // console.log(color.value);
}
</script>
<template>
  <v-container grid-list-xl>
    <v-row>
      <v-col>
        <v-img :src="def"></v-img>
      </v-col>
      <v-col>
        <v-row class="justify-center"
          ><h1>{{ name }}</h1></v-row
        >
        <v-row>
          <v-btn
            class="ma-3 pa-2"
            size="100%"
            :class="{ btn: isChoose }"
            @click="changeFeels(1)"
            >ANGRY</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            class="ma-3 pa-2"
            size="100%"
            :class="{ btn: isChoose }"
            @click="changeFeels(2)"
            >CUTE</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            class="ma-3 pa-2"
            :class="{ btn: isChoose }"
            size="100%"
            @click="changeFeels(3)"
            >EXCITED</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            class="ma-3 pa-2"
            :class="{ btn: isChoose }"
            size="100%"
            @click="changeFeels(4)"
            >PAIN</v-btn
          > </v-row
        ><v-row>
          <v-btn
            class="ma-3 pa-2"
            :class="{ btn: isChoose }"
            size="100%"
            @click="changeFeels(5)"
            >SHOCKED</v-btn
          > </v-row
        ><v-row>
          <v-btn
            class="ma-3 pa-2"
            :class="{ btn: isChoose }"
            size="100%"
            @click="changeFeels(6)"
            >SMILE</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn {
  background-color: yellow;
}
</style>
